@use "colors";

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
div,
p,
h1,
h2,
h3 {
  background: none;
  margin: 0;
  color: colors.$shark;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.ui.active.modal {
  background-color: #F7F7F7;
}
.ui.active.dimmer {
  justify-content: end;
}
.ui.dimmer {
  background-color: rgba(0,0,0,.45);
}

.ui.button {
  background: colors.$dash-blue;
  color: colors.$white;
}

.content {
  &__row {
    display: flex;
  }
  &__column {
    flex: 50%;
    &--end {
      text-align: end;
    }
  }
}