@use "../../styles/colors" as *;

.splash-screen {
  background-image: url('chrome-extension://__MSG_@@extension_id__/assets/splash-screen.png');
  background-size: 360px 600px;

  &__content {
    height: 100%;
    justify-content: end;
    padding: 32px 12px;
    align-items: center;
    gap: 20px;
    .ui.button {
      margin: 0;
    }

    &__button {
      width: 100%;
    }

    &__link {
      color: white;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.splash-screen__loader {
  top: calc(50% + 50px) !important;
}
