@use "../../styles/colors" as *;
.confirm-modal {
  padding: 1em 0;
  position: relative;

  &__head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h3 {
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 20px;
      background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/dash-d-black.svg');
    }
  }

  &__fiat {
    color: $raven;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }


  &__content {
    margin-top: 16px;
    background-color: $white;
    border-radius: 12px;
    box-shadow: 0px 5px 20px rgba(184,193,204,0.1);
    padding: 15px 17px;
    gap: 10px;

    div:not(:first-child) {
      margin-top: 0.1em;
    }
  }

  &__send {
    margin-top: 16px;
  }

  &__amount {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px;
    padding-right: 13px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/dash-d-black.svg');
  }
}
