@use "../../../styles/colors" as *;

.header {
  background-color: $dash-blue;
  height: 210px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  margin: 0 auto 30px auto;
  width: 90px;
  height: 24px;
}

.header__balance {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__syncing {
    color: white;
    opacity: 0.7;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
  }
  &__value-dash {
    color: white;
    font-size: 28px;
    line-height: 34px;
    padding-right: 28px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/logo-d-white.svg');
    background-repeat: no-repeat;
    background-position: right center;
  }

  &__value-fiat {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: white;
  }
}


