@use "../../styles/colors" as *;

.receive-modal {
  padding: 15px;

  &__content {
    border-radius: 12px;
    background-color: $white;
    box-shadow: 0px 5px 25px rgba(184,193,204,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    &--error {
      .ui.button {
        color: #E85C4A !important;
      }
    }

    &-item {
      font-size: 12px;
      &--error{
        color: #E85C4A !important;
      }
    }

    .ui.button {
      background: none;
      color: $shark;

      &:active {
        animation: press 0.2s 1 linear;

      }
    }
  }
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  to {
    transform: scale(1);
  }
}
