@use "../../../styles/colors" as *;

.transaction-list-item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  height: 64px;
  background-color: white;
  border-radius: 12px;
  padding: 14px 10px;
  margin-bottom: 8px;
  align-items: center;

  &__balance-impact {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    color: $dash-blue;
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/logo-d-blue.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px;
    padding-right: 13px;
  }

  &__date {
    color: $raven;
  }
}
