@use "../../../styles/colors" as *;

.transaction-list-item {
  background-color: white;
  border-radius: 12px;
  padding: 14px 10px;
  margin-bottom: 8px;

  &__secondary {
    color: $raven;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
  &__unconfirmed {
    color: #ffcc00;
    margin-left: 8px;
  }
  &__balance-impact {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px;
    padding-right: 13px;

    &--sent {
      color: $shark;
      background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/dash-d-black.svg');
    }
    &--received {
      color: $dash-blue;
      background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/logo-d-blue.svg');
    }
  }
}
